<% if tasks.any? %>
  <ul class="list-unstyled mt-2">
    <% tasks.each do |task| %>
      <li class="d-flex">
          <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
<%= link_to '新規タスクの作成', new_task_path %>